@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./digital-clock-app-background.png");
}

.main {
  background: #ccc;
  padding: 30px;
  width: 400px;
  margin: 100px auto;
  height: 175px;
  position: relative;
  border-radius: 5px;
}

.badge {
  width: 100px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 40%;
  border-radius: 5px;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 25px;
  font-family: Orbitron;
  border-radius: 5px;
}
